.example-tab-icon {
  margin-right: 8px;
}

.overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  background-color: rgba(0, 0, 0, 0.315) !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-subtitle {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: #68efad;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.flex-card {
  height: 100%;
}
